[submodule "mirror/visualisations/cnn-visualisations"]
	path = mirror/visualisations/cnn-visualisations
	url = https://github.com/FrancescoSaverioZuppichini/cnn-visualisations.git
[submodule "mirror/visualisations/core"]
	path = mirror/visualisations/core
	url = https://github.com/FrancescoSaverioZuppichini/cnn-visualisations.git
